#!/usr/bin/env ruby

require_relative "../solver"

class Puzzle < Solver
  def parse_data
  end

  def pt1
  end

  def pt2
  end
end

Day.new(test: true).solve_part!(1)
# Day.new.solve_part!(1)
# Day.new(test: true).solve_part!(2)
# Day.new.solve_part!(2)
# Day.new.solve!
