#!/usr/bin/env ruby

require_relative "../solver"

class Puzzle < Solver
  def parse_data
  end

  def pt1
  end

  def pt2
  end
end

Puzzle.new(test: true).solve_part!(1)
# Puzzle.new.solve_part!(1)
# Puzzle.new(test: true).solve_part!(2)
# Puzzle.new.solve_part!(2)
# Puzzle.new.solve!
